body {
  font-family: monospace;
  background-color: #f0f0f0;
}
.container {
  height: 100vh;
}
.calculator {
  width: calc(15vw + 15vh);
  height: calc(22.5vw + 22.5vh);
  max-height: 100vh;
  margin-bottom: 5rem;
}
label {
  font-size: 0.8em;
  padding-right: 0 !important;
  left: unset !important;
  right: 0;
  transition: all 0.3s ease;
}
label:after {
  background-color: transparent !important;
}
.button-calc {
  font-size: calc(1vw + 1vh);
}

.form-floating {
  height: 4em;
}